* {
  margin: 0;
  padding: 0;
  }
body {
  background-image: url(https://atgbcentral.com/data/out/91/4730914-images-background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

.hide{
display: none;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: honeydew;;
  font: 40px cursive;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
    
}
.regresarcss{
  background: #6b63b5;
  font-size: 15px;
  padding-bottom: 5px;
  margin: 5px;
}

.opcionesLi{

    color:beige;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding: 0;
    line-height: 2em;
    
  }
.opcion{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.opcionesLi:hover{
  color: #6b63b5;
}


.listPersonaje{
  padding: 2px; 
    display: inline-block;
        background: skyblue;
    padding: 14px;
    margin: 10px;
    border-radius: 16px;
}
.listPersonaje:hover{
  background:#6b63b5;
}
.caracteristicas
{
color: aliceblue;
font-size: 20px;
margin: 8px;
}
.imagen{
  width:250px;
  height:350px;
  margin: 6px;
  display: flex;
  border-radius: inherit;
 } 
.general{
  display: flex;
  justify-content: center;
   }

#containerGetPersonaje{
  text-align:left;
}
.personajesH{
  width: 80%; 
    position: absolute;
    right: 20px;
    margin-top: 30px;
    display: inline-table;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 15pt;
    text-align: center;
    color: black;
    font: 20px 'acme';
      
       }
       .listfiltrar {
        width: 270px;
        margin-top: 10px;
        height: 500px;
        background: darkslategrey;
         position: relative;
         padding: 10px;
    }
   #filtro{
      color: white;
       font-size: 40px;
       opacity: 100%;
       font-family: 'acme';
       font-weight: bold;
       margin-top: 0.5px;
       line-height: 80px;
       margin-right: 20px;
       float: left;
       
      } 
      #orderId{
        margin-top: 89px;
      
      }
  .ordenarCss{
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'acme';
    position: absolute;
    top: 280px;
  }
  .ordenarPer{
    display: flex;
    margin-top: 90px;
    flex-direction: column;
  }  

  .buttonOrder{
    background-color: white;
  border: 1px solid #C27A34;
  color: #EBBD68;
  font-weight: bolder;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;

      }
.buttonOrder:hover{
  background:#6b63b5;
  color: white;
  border-radius: 8px;
      } 
 
.button {
  background-color: white;
  border: 1px solid #C27A34;
  color: #EBBD68;
  font-weight: bolder;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}
.button:hover{
  background:#6b63b5;
  color: white;
  border-radius: 8px;
      } 

.pie-Pagina{
width: 100%;
height: 18px;
position: absolute;
bottom: 0px;
background-color:cadetblue;
font-family: verdana;
text-align: center;
}

      
#video{
width: 560px;
height: 315px;
margin-left: 35%;
}